<!DOCTYPE html>
<html lang="es">
    <%- include('templates/head') %>
    <body>
        <div class="products-view">
            <h1>Aqui están sus productos</h1>
            <table class="product-table" 
                cellspacing="15px" 
                align="center"
                bgcolor="#413E3E"
                rules="rows"
                >
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(item) {%>
                    <tr>
                        <td><%= item.title %></td>
                        <td>$<%= item.price %></td>
                        <td>
                            <img src="<%= item.thumbnail %>" alt="<%= item.title %>" width="20px" height="20px">
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <a class="redirect-btn" href="/">Volver al formulario</a>
        </div>
    </body>
</html>